LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 1, 1, 8, 685
PRODUCTVERSION 1, 1, 8, 685
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "Season's Fall Music\000"
      VALUE "FileDescription", "DGHIDENotifier: An IDE Plugin to provide notifications for all sorts of things.\000"
      VALUE "FileVersion", "1.1.8.685\000"
      VALUE "InternalName", "DGHIDENotifier\000"
      VALUE "LegalCopyright", "Season's Fall Music\000"
      VALUE "LegalTrademarks", "Season's Fall Music\000"
      VALUE "OriginalFilename", "DGHIDENotifier\000"
      VALUE "ProductName", "DGHIDENotifier\000"
      VALUE "ProductVersion", "1.1h\000"
      VALUE "Comments", "DGHIDENotifier: An IDE Plugin to provide notifications for all sorts of things.\000"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 1033, 1252
  }
}
